<footer class="page-footer elegant-color-dark pt-4 mt-4 mx-auto" [ngStyle]="style">
    <div class="container text-center mb-4">
        <p>Follow us on:</p>
        <a class="ml-3 mr-3" title="Facebook">
            <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a class="mr-3" title="Twitter">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a class="mr-3" title="Google +">
            <i class="fa fa-google-plus fa-2x"></i>
        </a>
        <a class="mr-3" title="Google +">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
    </div>
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2017 Copyright:
            <a href="https://www.zikazika.com"> zikazika.com </a>
        </div>
    </div>
</footer>