.img{
    position: relative !important;
}

.search{
    z-index: 10 !important;
    position: absolute !important;
}


// .input-group:focus{
//     // color :green !important;
//     border-color: red !important;
//     // box-shadow: 0 0 0 0.2rem rgba(245, 8, 8, 0.932) !important;
// }
