// /* You can add global styles to this file, and also import other style files */
.form-control:focus{border-color: #2BBBAD;  box-shadow: none; -webkit-box-shadow:none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}
.page{
    min-height:65vh;
}
.card-img-profile {    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px double #2E2E2E;
    display: block;
}
