<div class="conatiner">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
      <label for="genre">Select Genre</label>
      <select class="form-control" id="genre" formControlName="genre">
        <option *ngFor="let g of genres" [value]="g">{{g}}</option>
      </select>
    </div>
    <button [disabled]="!form.valid" class="btn btn-block btn-default waves-light">Remove</button>
  </form>
  <h2 class="mt-4 animated slideInLeft" *ngIf="removed">Genre is successfully removed!</h2>
</div>